//http://mcg.mbitson.com/
/* src/core/components/mdTheme/palette.js */
$primary: (
    'base': #594d95,
    'lighten-5': #ebeaf2,
    'lighten-4': #cdcadf,
    'lighten-3': #aca6ca,
    'lighten-2': #8b82b5,
    'lighten-1': #7268a5,
    'darken-1': #51468d,
    'darken-2': #483d82,
    'darken-3': #3e3478,
    'darken-4': #2e2567,
    'accent-1': #b5aaff,
    'accent-2': #8877ff,
    'accent-3': #5b44ff,
    'accent-4': #452aff
);

$secondary: (
    'base': #704691,
    'lighten-5': #eee9f2,
    'lighten-4': #d4c8de,
    'lighten-3': #b8a3c8,
    'lighten-2': #9b7eb2,
    'lighten-1': #8562a2,
    'darken-1': #683f89,
    'darken-2': #5d377e,
    'darken-3': #532f74,
    'darken-4': #412062,
    'accent-1': #cea2ff,
    'accent-2': #b46fff,
    'accent-3': #993cff,
    'accent-4': #8c23ff
);

$tertiary: (
    'base': #d7d460,
    'lighten-5': #fafaec,
    'lighten-4': #f3f2cf,
    'lighten-3': #ebeab0,
    'lighten-2': #e3e190,
    'lighten-1': #ddda78,
    'darken-1': #d3cf58,
    'darken-2': #cdc94e,
    'darken-3': #c7c344,
    'darken-4': #beb933,
    'accent-1': #ffffff,
    'accent-2': #fffdd2,
    'accent-3': #fffc9f,
    'accent-4': #fffb85
);

$accent: (
    'base': #d7c060,
    'lighten-5': #faf7ec,
    'lighten-4': #f3eccf,
    'lighten-3': #ebe0b0,
    'lighten-2': #e3d390,
    'lighten-1': #ddc978,
    'darken-1': #d3ba58,
    'darken-2': #cdb24e,
    'darken-3': #c7aa44,
    'darken-4': #be9c33,
    'accent-1': #ffffff,
    'accent-2': #fff3d2,
    'accent-3': #ffe69f,
    'accent-4': #ffe085
);

// https://gka.github.io/palettes/#/100|s|594d95|ffffe0,ff005e,93003a|1|1
$brand_chroma: (
  #000040,
  #000342,
  #000745,
  #020947,
  #050c49,
  #080e4b,
  #0c104d,
  #0f1250,
  #121352,
  #151554,
  #181756,
  #1b1959,
  #1d1b5b,
  #201d5d,
  #231f5f,
  #252162,
  #282364,
  #2a2566,
  #2d2669,
  #2f286b,
  #312a6d,
  #342c70,
  #362e72,
  #393074,
  #3b3277,
  #3d3579,
  #40377b,
  #42397e,
  #453b80,
  #473d83,
  #493f85,
  #4c4187,
  #4e438a,
  #51458c,
  #53478f,
  #554a91,
  #584c94,
  #5a4e96,
  #5c5099,
  #5f529b,
  #61559d,
  #6457a0,
  #6659a2,
  #695ba5,
  #6b5da7,
  #6d60aa,
  #7062ad,
  #7264af,
  #7567b2,
  #7769b4,
  #7a6bb7,
  #7c6db9,
  #7f70bc,
  #8172be,
  #8474c1,
  #8677c3,
  #8879c6,
  #8b7bc9,
  #8d7ecb,
  #9080ce,
  #9282d0,
  #9585d3,
  #9887d6,
  #9a8ad8,
  #9d8cdb,
  #9f8edd,
  #a291e0,
  #a493e3,
  #a796e5,
  #a998e8,
  #ac9beb,
  #ae9ded,
  #b1a0f0,
  #b4a2f3,
  #b6a4f5,
  #b9a7f8,
  #bba9fb,
  #beacfd,
  #c1afff,
  #c4b1ff,
  #c7b4ff,
  #cab7ff,
  #ccbaff,
  #cfbdff,
  #d2c0ff,
  #d5c2ff,
  #d8c5ff,
  #dbc8ff,
  #decbff,
  #e1ceff,
  #e4d1ff,
  #e7d3ff,
  #ead6ff,
  #edd9ff,
  #f0dcff,
  #f3dfff,
  #f6e2ff,
  #f9e5ff,
  #fce7ff,
  #feeaff
);

$green_to_red: (
  #4caf50,
  #50ae50,
  #53ae4f,
  #56ad4f,
  #5aac4f,
  #5dac4e,
  #60ab4e,
  #62aa4e,
  #65aa4e,
  #68a94d,
  #6aa84d,
  #6da84d,
  #6fa74c,
  #72a64c,
  #74a64c,
  #76a54b,
  #79a44b
  ,#7ba34b,
  #7da34a,
  #7fa24a,
  #81a14a,
  #83a04a,
  #85a049,
  #879f49,
  #899e49,
  #8b9d48,
  #8d9d48,
  #8f9c48,
  #919b48,
  #939a47,
  #949a47,
  #969947,
  #989846,
  #9a9746,
  #9b9646,
  #9d9546,
  #9f9545,
  #a09445,
  #a29345,
  #a49244,
  #a59144,
  #a79044,
  #a99044,
  #aa8f43,
  #ac8e43,
  #ad8d43,
  #af8c42,
  #b08b42,
  #b28a42,
  #b38942,
  #b58841,
  #b68741,
  #b88641,
  #b98541,
  #bb8440,
  #bc8340,
  #bd8240,
  #bf8140,
  #c0803f,
  #c27f3f,
  #c37e3f,
  #c47d3f,
  #c67c3e,
  #c77b3e,
  #c87a3e,
  #ca793e,
  #cb783d,
  #cc763d,
  #ce753d,
  #cf743d,
  #d0733c,
  #d2723c,
  #d3703c,
  #d46f3c,
  #d66e3b,
  #d76c3b,
  #d86b3b,
  #d96a3b,
  #db683a,
  #dc673a,
  #dd663a,
  #de643a,
  #e0633a,
  #e16139,
  #e26039,
  #e35e39,
  #e55c39,
  #e65b38,
  #e75938
  ,#e85738,
  #e95638,
  #eb5438,
  #ec5237,
  #ed5037,
  #ee4e37,
  #ef4c37,
  #f14a37,
  #f24836,
  #f34536,
  #f44336
);
